
.hiddenScroll {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
  &:hover {
    overflow-y: scroll;
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #00000026;
    }
    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }
  }
}

.sidebar {
  flex-basis: 280px;
  @media screen and (min-width: 1450px) {
    max-width: 360px;
    flex-basis: 360px;
  }
}

.widgets {
  flex-basis: 280px;
  @media screen and (min-width: 1450px) {
    max-width: 360px;
    flex-basis: 360px;
  }
}

.no-scrollbar {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0;
    background-color: transparent;
  }
}